body {
    background: url(./img/horek.jpeg) no-repeat;
    background-position: center;
    background-size: 100%;
}
header {
    top: 0px;
    height: 50px;
}
nav {
    width: 25%; 
    top: 100px;
    float: left;
    margin-left: -100%;
}
footer {
    background-color: coral;
    clear: left;
}
* {
    margin: 0;
}
p {
    text-align: justify;
}
main { width: 50%;
    margin: 0 25%;
    float: left; 
}
#menu ul {
    padding: 0px;
}
#menu ul li {
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 250px;
    list-style-type: none;
}
#menu ul li a{
    text-decoration: none;
    line-height: 30px;
    color: black;
    height:30px;
    display: block;
}
#menu ul li a:hover {
background: #cecccc;
color: rgb(56, 38, 38);
}